<footer class="ftco-footer ftco-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Sobre SofitechBCN</h2>
            <p>Serveis personalitzats que t'ajudaran a augmentar el volum de negoci al mateix temps que estalviaràs automatitzant processos.
               </p>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
              <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4 ml-md-4">
            <h2 class="ftco-heading-2">Links</h2>
            <ul class="list-unstyled">
              <li><a routerLink="home"><span class="icon-long-arrow-right mr-2"></span>Home</a></li>
              <li><a routerLink="about"><span class="icon-long-arrow-right mr-2"></span>Sobre Nosaltres</a></li>
            <!--   <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Services</a></li>
              <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Projects</a></li >-->
              <li><a routerLink="contact"><span class="icon-long-arrow-right mr-2"></span>Contacte</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
           <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Serveis</h2>
            <ul class="list-unstyled">
              <li><a routerLink="contact"><span class="icon-long-arrow-right mr-2"></span>Disseny Web</a></li>
              <li><a routerLink="contact"><span class="icon-long-arrow-right mr-2"></span>Desenvolupament Web</a></li>
              <li><a routerLink="contact"><span class="icon-long-arrow-right mr-2"></span>Desenvolupament Applicacions</a></li>
              <li><a routerLink="contact"><span class="icon-long-arrow-right mr-2"></span>Marketing Automatitzat</a></li>
              <li><a routerLink="contact"><span class="icon-long-arrow-right mr-2"></span>Disseny Gràfic</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Tens alguna pregunta?</h2>
            <div class="block-23 mb-3">
              <ul>
                <li><span class="icon icon-map-marker"></span><span class="text">Cami Ral, 51, Mataro, 08301</span></li>
                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+34 660 48 38 82</span></a></li>
                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@sofitechbcn.com</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center" >

          <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
      </div>
    </div>
  </footer>