<section class="ftco-counter img ftco-section ftco-no-pt ftco-no-pb" id="about-section">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-6 col-lg-5 d-flex">
        <div class="img d-flex align-self-stretch align-items-center"
          style="background-image:url(assets/images/project-4.jpg);">
        </div>
      </div>
      <div class="col-md-6 col-lg-7 pl-lg-5 py-5">
        <div class="py-md-5">
          <div class="row justify-content-start pb-3">
            <div class="col-md-12 heading-section  ">
              <span class="subheading">Que fem</span>
              <h2 class="mb-4" style="font-size: 34px; text-transform: uppercase;">Som una empresa de solucions de Marketing Mòbil</h2>
              <p>Ens hem centrat en crear potents funcions natives per a petites i mitjanes empreses dirigides a impactar directament en els resultats del negoci. Gestors de comandes, reserves, integració de xarxes socials, Botigues mòbils, sistemes avançats de de fidelització...</p>
              <p>Alguns Exemples:</p>
              <h4>Apps per Restaurants</h4>
              <li>Fidelització dels teus clients mitjançant Cupons QR, Cupons GPS</li>
              <li>Targetes virtuals</li>
              <li>Imatges i vídeos del restaurant</li>
              <li>Ofereix a els teus clients les novetats del menú mitjançant missatges PUSH</li>

              
           
            </div>
          </div>
          <div class="counter-wrap  d-flex mt-md-3">
            <div class="text p-4 bg-primary">
              <p class="mb-0">
                <span class="number" data-number="20">8</span>
                <span>Anys d'experiencia</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>