<section id="home-section" class=" hero">
  
  <!-- <h3 class="vr">Welcome to SofitechBCN</h3> -->

  <!-- <div class="home-slider js-fullheight " >
    <div class="slider-item js-fullheight">
      <div class="overlay" ></div> -->
      <div class="container-fluid container p-0" >
        <div class=" d-md-flex   js-fullheight align-items-center justify-content-end">
          <div class="col-sm one-third order-md-last img js-fullheight"
            style="background-image:url(assets/images/bg_1.jpg);height:100vh;width: 100vw; ">
            <div class="overlay"></div>
          </div>
          <div class="col-sm one-forth d-flex js-fullheight align-items-center " data-scrollax=" properties: { translateY: '70%' }">
            <div class="text  heading-section" >
              <span class="subheading">Benvinguts a SofitechBCN</span>
              <h3 class="mb-4 mt-3" >Petits detalls que fan una gran <span>Impresió</span></h3>
              <p>Solucions de Marketing Mòbil, des de webs mòbils amb HTML5 i Apps Natives, fins a gestió de programes de fidelització o creació de Apps personalitzades a mida per a processos interns.<br> El límit el poses tu. </p>
              <p><a routerLink="../contact"  class="btn btn-primary px-5 py-3 mt-3">Contacta</a></p>
            </div>
          </div>
       </div>
      </div>
     <!-- </div>

  </div> -->

</section>